In [1]:
import pandas as pd

In [3]:
import numpy as np

In [9]:
df = pd.read_csv("Carscleaned1.csv", encoding='ISO-8859-1')

In [15]:
df.head()

,year,make,model,Car trim level,body,transmission,Vehicle_id_no,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5,16639,white,black,kia motors america inc,20500,21500,12/16/2014
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5,9393,white,beige,kia motors america inc,20800,21500,12/16/2014
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45,1331,gray,black,financial services remarketing (lease),31900,30000,1/15/2015
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41,14282,white,black,volvo na rep/world omni,27500,27750,1/29/2015
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43,2641,gray,black,financial services remarketing (lease),66000,67000,12/18/2014

In [17]:
df.tail()

,year,make,model,Car trim level,body,transmission,Vehicle_id_no,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
465851,2011,BMW,5 Series,528i,Sedan,automatic,wbafr1c53bc744672,fl,39,66403,white,brown,lauderdale imports ltd bmw pembrok pines,20300,22800,7/7/2015
465852,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5,54393,white,black,i -5 uhlmann rv,30200,30800,7/8/2015
465853,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48,50561,black,black,financial services remarketing (lease),29800,34000,7/8/2015
465854,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38,16658,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,7/9/2015
465855,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34,15008,gray,gray,ford motor credit company llc pd,29600,26700,5/28/2015

In [19]:
df.shape

(465856, 16)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465856 entries, 0 to 465855
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            465856 non-null  int64
 1   make            465856 non-null  object
 2   model           465768 non-null  object
 3   Car trim level  465856 non-null  object
 4   body            465856 non-null  object
 5   transmission    465856 non-null  object
 6   Vehicle_id_no   465856 non-null  object
 7   state           465856 non-null  object
 8   condition       465856 non-null  int64
 9   odometer        465856 non-null  int64
 10  color           465856 non-null  object
 11  interior        465856 non-null  object
 12  seller          465856 non-null  object
 13  mmr             465856 non-null  int64
 14  sellingprice    465856 non-null  int64
 15  saledate        465856 non-null  object
dtypes: int64(5), object(11)
memory usage: 56.9+ MB

In [27]:
df.describe()

,year,condition,odometer,mmr,sellingprice
count,465856.000000,465856.000000,465856.000000,465856.000000,465856.000000
mean,2010.217565,30.767261,66643.220029,13843.730627,13694.933634
std,3.828143,13.304447,52060.125277,9565.598447,9643.726466
min,1990.000000,1.000000,1.000000,25.000000,1.000000
25%,2008.000000,24.000000,28021.000000,7425.000000,7200.000000
50%,2012.000000,35.000000,50849.500000,12300.000000,12200.000000
75%,2013.000000,42.000000,96604.250000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

In [29]:
df.isnull().sum()

year               0
make               0
model             88
Car trim level     0
body               0
transmission       0
Vehicle_id_no      0
state              0
condition          0
odometer           0
color              0
interior           0
seller             0
mmr                0
sellingprice       0
saledate           0
dtype: int64

In [33]:
data = df.drop_duplicates(subset ="Vehicle_id_no",)
data

,year,make,model,Car trim level,body,transmission,Vehicle_id_no,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5,16639,white,black,kia motors america inc,20500,21500,12/16/2014
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5,9393,white,beige,kia motors america inc,20800,21500,12/16/2014
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45,1331,gray,black,financial services remarketing (lease),31900,30000,1/15/2015
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41,14282,white,black,volvo na rep/world omni,27500,27750,1/29/2015
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43,2641,gray,black,financial services remarketing (lease),66000,67000,12/18/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465851,2011,BMW,5 Series,528i,Sedan,automatic,wbafr1c53bc744672,fl,39,66403,white,brown,lauderdale imports ltd bmw pembrok pines,20300,22800,7/7/2015
465852,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5,54393,white,black,i -5 uhlmann rv,30200,30800,7/8/2015
465853,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48,50561,black,black,financial services remarketing (lease),29800,34000,7/8/2015
465854,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38,16658,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,7/9/2015
465855,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34,15008,gray,gray,ford motor credit company llc pd,29600,26700,5/28/2015